{% extends 'vendas/partials/base.html' %}

{% block content %}
<div class="container">
    <h3 id="XX">Selecione um Produto</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Referencia</th>
                <th>Preço</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.referencia }}</td>
                <td>{{ produto.preco }}</td>
                <td>
                    <button class="btn btn-primary" onclick="selecionarProduto('{{ produto.id }}')">Selecionar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var contadorProdutoId = parseInt(localStorage.getItem('contadorProdutoId')) || 0;

    function productExists(id) {
        item = JSON.parse(localStorage.getItem('dictVenda' + id));
        if(item){
            return item;
        }
        return null;
    }

    function selecionarProduto(id) {
        var produtoExistenteID = productExists(id);
        if (produtoExistenteID !== null) {
            produtoExistenteID.quantidade++;
            localStorage.setItem('dictVenda'+produtoExistenteID.produtoId,JSON.stringify(produtoExistenteID));
            localStorage.setItem('contadorProdutoId', contadorProdutoId);
            window.location.href = '{% url 'page_vendas' %}';
        } else {
            contadorProdutoId++;
            var dictVenda = {
                produtoId: id,
                quantidade: 1,
                desconto: 0
            };
            localStorage.setItem('contadorProdutoId', contadorProdutoId);
            localStorage.setItem('dictVenda' + id, JSON.stringify(dictVenda));
            window.location.href = '{% url 'page_vendas' %}';
        }
    }
</script>

{% endblock %}
