{% extends 'vendas/partials/base.html' %}

{% block content %}
<div class="container">
    <h3 id="XX">Selecione um Produto</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Referencia</th>
                <th>Preço</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.referencia }}</td>
                <td>{{ produto.preco }}</td>
                <td>
                    <button class="btn btn-primary" onclick="selecionarProduto('{{ produto.id }}')">Selecionar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var contadorProdutoId = parseInt(localStorage.getItem('contadorProdutoId')) || 0;

    function productExists(contadorProdutoId, id) {
        for (let i = 1; i <= contadorProdutoId; i++) {  // Mudei para começar em 1, pois você incrementa antes de salvar
            var dictVenda = JSON.parse(localStorage.getItem(`dictVenda${i}`));
            if (dictVenda && dictVenda.produtoId === id) {
                return i;
            }
        }
        return null;
    }

    function selecionarProduto(id) {
        var produtoExistenteID = productExists(contadorProdutoId, id);
        if (produtoExistenteID !== null) {
            var produtoExistente = JSON.parse(localStorage.getItem(`dictVenda${produtoExistenteID}`));
            produtoExistente.quantidade++;
            localStorage.setItem('dictVenda'+produtoExistenteID,JSON.stringify(produtoExistente));
            localStorage.setItem('contadorProdutoId', contadorProdutoId);
            window.location.href = '{% url 'page_vendas' %}';
        } else {
            contadorProdutoId++;
            var dictVenda = {
                produtoId: id,
                quantidade: 1,
                desconto: 0
            };
            localStorage.setItem('contadorProdutoId', contadorProdutoId);
            localStorage.setItem('dictVenda' + id, JSON.stringify(dictVenda));
            window.location.href = '{% url 'page_vendas' %}';
        }
    }
</script>

{% endblock %}
