<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>App Vendas</title>

  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'vendas/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendas/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'vendas/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" />

  {% block head %}
  {% endblock head %}
</head>

<body>
  {% include 'vendas/partials/navbar.html' %}

  <div class="container-lg">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
  </div>

  <!-- manter tag script proxima do fim de body -->
  <script src="{% static 'vendas/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>