{% extends 'vendas/partials/base.html' %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: flex-start; min-height: 100vh; padding-top: 50px; background-color: var(--wh);">
    <div style="background-color: #4CAF50; padding: 50px; border-radius: 20px; width: 600px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); font-size: 1.2em;">
        <h1 style="text-align: center; color: white; margin-bottom: 30px; font-size: 2em;">Cadastrar Vendedor</h1>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_nome" style="color: white; font-weight: bold; font-size: 1.2em;">Nome:</label><br>
                {{ form.nome }}
            </p>
            <p>
                <label for="id_cpf" style="color: white; font-weight: bold; font-size: 1.2em;">CPF:</label><br>
                {{ form.cpf }}
            </p>
            <p>
                <label for="id_data_nascimento" style="color: white; font-weight: bold; font-size: 1.2em;">Data de Nascimento:</label><br>
                {{ form.data_nascimento }}
            </p>
            <p>
                <label for="id_matricula" style="color: white; font-weight: bold; font-size: 1.2em;">Matrícula:</label><br>
                {{ form.matricula }}
            </p>
            <p>
                <label for="id_data_contratacao" style="color: white; font-weight: bold; font-size: 1.2em;">Data de Contratação:</label><br>
                {{ form.data_contratacao }}
            </p>
            <div style="text-align: center; margin-top: 30px;">
                <button class ='btn btn-primary btn-lg' type ="submit">Salvar</button>
                <button class ='btn btn-danger btn-lg' onclick="location.href='{% url 'listar_vendedores' %}'">Sair </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
