{% extends 'vendas/partials/base.html' %}
{% block content %}
<div class="container">
    <h1>Editar Vendedor</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nome" class="form-label">Nome:</label>
            {{ form.nome }}
        </div>
        <div class="mb-3">
            <label for="id_cpf" class="form-label">CPF:</label>
            {{ form.cpf }}
        </div>
        <div class="mb-3">
            <label for="id_data_nascimento" class="form-label">Data de Nascimento:</label>
            {{ form.data_nascimento }}
        </div>
        <div class="mb-3">
            <label for="id_matricula" class="form-label">Matrícula:</label>
            {{ form.matricula }}
        </div>
        <div class="mb-3">
            <label for="id_data_contratacao" class="form-label">Data de Contratação:</label>
            {{ form.data_contratacao }}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <!-- Botão de sair que redireciona para a página principal -->
    <button onclick="location.href='{% url 'listar_vendedores' %}'" class="btn btn-secondary mt-3">Sair</button>
</div>
{% endblock %}
