{% extends 'vendas/partials/base.html' %}

{% block head %}
{% load static %}
<script type="module" src="{% static 'vendas/venda.js' %}"></script>
{% endblock head %}

{% block content %}
<template id="item-template">
    <td>
        <select class="form-control" required v-model="itemAtual.idProduto">
            <option value="">Selecione</option>
            <option v-for="produto in produtos" :value="produto.id">[[ produto.nome ]]</option>
        </select>
    </td>
    <td>
        <!-- preco -->
        <input type="text" readonly :value="prodSelecionado ? prodSelecionado.preco : null" class="form-control">
    </td>
    <td>
        <!-- qtd -->
        <input type="text" required min="1" v-model.number="itemAtual.qtd" class="form-control">
    </td>
    <td>
        <!-- desconto -->
        <input type="text" required min="0" max="100" v-model.number="itemAtual.desconto" class="form-control">
    </td>
    <td>
        <!-- total -->
        <input type="text" readonly :value="totalComDesconto" class="form-control">
    </td>
    <td>
        <button type="button" @click="handleRemover" class="btn btn-danger">Remover</button>
    </td>
</template>

<div id="vue-app" v-scope @vue:mounted="loadOptions">
    <span v-if="msg.text" :class="msg.class">[[ msg.text ]]</span>
    <form action="" method="post" class="border border-gray rounded p-4" @submit.prevent="handlePost">
        {% csrf_token %}
        <div class="d-flex justify-content-between mb-3">
            <div class="w-49">
                <label for="vendedor" class="form-label">Vendedor</label>
                <select id="vendedor" class="form-control" v-model.number="store.idVendedor">
                    <option value="">Selecione</option>
                    <option v-for="vendedor in vendedores" :value="vendedor.id">[[ vendedor.nome ]]</option>
                </select>
            </div>

            <div class="w-49">
                <label for="comissao" class="form-label">Comissão Venda %</label>
                <input type="text" id="comissao" class="form-control" v-model.number="store.percentComissao">
            </div>
        </div>

        <div class="d-flex justify-content-between mb-3">
            <div class="w-49">
                <label for="cliente" class="form-label">Cliente</label>
                <select id="cliente" class="form-control" v-model.number="store.idCliente">
                    <option value="">Selecione</option>
                    <option v-for="cliente in clientes" :value="cliente.id">[[ cliente.nome ]]</option>
                </select>
            </div>

            <div class="w-49">
                <label for="parcelas" class="form-label">Parcelas Pagamento</label>
                <select id="parcelas" class="form-control" v-model.number="store.parcelasPgto">
                    <option value="0">À vista</option>
                    <option v-for="n in 6" :value="n">[[ n ]]x</option>
                </select>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <th style="width: 45%;">Produto</th>
                <th>Preço Un.</th>
                <th>Qtd</th>
                <th>Desconto %</th>
                <th>Total</th>
                <th></th>
            </thead>
            <tbody>
                <tr v-for="item in store.itens" :key="item.idItem"
                    v-scope="Item({produtos: produtos, idItem: item.idItem})"></tr>
            </tbody>
        </table>

        <div class="text-end mb-3">
            <button type="button" class="btn btn-success" @click="store.adicionarItem">Adicionar</button>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
{% endblock content %}