{% extends 'vendas/partials/base.html' %}

{% comment %}
TODO: Arrumar a lógica javascript do botão selecionar
TODO: Definir a lógica da aba cálculo
TODO: Adicionar colunas informativas quando for selecionado o produto
{% endcomment %}

{% block content %}

<div class="container mt-4">
    <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="width:50px;height:50px;display: none; position: fixed; top: 50%; left: 50%; z-index: 1000;">
        <span class="visually-hidden">Carregando...</span>
    </div>
    <!-- Abas -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="aba-inicial-tab" data-bs-toggle="tab" data-bs-target="#aba-inicial" type="button" role="tab" aria-controls="aba-inicial" aria-selected="true">Vender</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="aba-calculos-tab" data-bs-toggle="tab" data-bs-target="#aba-calculos" type="button" role="tab" aria-controls="aba-calculos" aria-selected="false">Cálculos</button>
        </li>
    </ul>

    <!-- Conteúdo das Abas -->
    <div class="tab-content shadow p-3 mb-5 bg-body rounded" id="myTabContent">
        <!-- Aba Inicial -->
        <div class="tab-pane fade show active" id="aba-inicial" role="tabpanel" aria-labelledby="aba-inicial-tab">
            <div class="container my-4 p-3">
                <!-- Campo e botão para Vendedores -->
                <div class="row mb-3 align-items-center">
                    <label for="vendedoresInput" class="col-auto col-form-label">Vendedor</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" id="vendedoresInput" placeholder="Digite o nome do vendedor">
                            <button class="btn btn-secondary" onclick="location.href='{% url 'selecionar_vendedor' %}'">Selecionar</button>
                        </div>
                    </div>
                </div>

                <!-- Campo e botão para Clientes -->
                <div class="row mb-3 align-items-center">
                    <label style = "margin-left:20px;"for="clientesInput" class="col-auto col-form-label">Cliente</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" id="clientesInput" placeholder="Digite o nome do cliente">
                            <button class="btn btn-secondary" onclick="location.href='{% url 'selecionar_cliente' %}'">Selecionar</button>
                        </div>
                    </div>
                </div>

                <!-- Container para Produtos -->
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        Produtos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Unitário</th>
                                        <th scope="col">Desconto (%)</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="produtosContainer">
                                    <!-- Produtos serão adicionados dinamicamente aqui -->
                                    <tr class="align-items-center">
                                        <td class="col-1">
                                            <input type="number" class="form-control form-control-sm" id="quantidade1Input" placeholder="Qtd." value=1>
                                        </td>
                                        <td class="col-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm" id="produto1Input" placeholder="Nome do produto">
                                                <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'selecionar_produto' %}'">Selecionar</button>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" id="preco1Input" placeholder="Unitário" readonly>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control form-control-sm" id="desconto1Input" placeholder="Desconto">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" id="total1Input" placeholder="Total" readonly>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>

        <!-- Aba de Cálculos -->
        <div class="tab-pane fade" id="aba-calculos" role="tabpanel" aria-labelledby="aba-calculos-tab">
            <!-- Conteúdo da aba de cálculos -->
            <div class="container my-4 p-3 border border-info">
                <h3>Cálculos</h3>
                <!-- Aqui você pode adicionar conteúdo relacionado aos cálculos -->
            </div>
        </div>
    </div>
</div>

<script>
    let contadorProdutos = 1;
    let pendingRequests = 0;
    let produtosAdicionados = {};

    /**
     * Incrementa o contador de requisições pendentes.
     */
    function incrementPendingRequests() {
        pendingRequests++;
    }

    /**
     * Decrementa o contador de requisições pendentes e
     * esconde o spinner de carregamento se todas as requisições estiverem completas.
     */
    function decrementPendingRequests() {
        pendingRequests--;
        if (pendingRequests === 0) {
            hideLoadingSpinner();
        }
    }

    /**
     * Calcula o valor total do produto com base no preço unitário, desconto e quantidade.
     */
    function calcularTotal(precoUnitarioID, desconto, quantidadeID, totalInputId) {
        let preco = parseFloat(document.getElementById(precoUnitarioID).value);
        let desc = parseFloat(desconto);
        let quantidade = parseInt(document.getElementById(quantidadeID).value);

        if (!isNaN(preco) && !isNaN(quantidade)) {
            let total = (preco * quantidade) - (isNaN(desc) ? 0 : desc);
            document.getElementById(totalInputId).value = total.toFixed(2); // Arredonda para duas casas decimais
        } else {
            document.getElementById(totalInputId).value = ''; // Limpa o campo se o preço ou quantidade não forem numéricos
        }
    }

    /**
     * Configura os eventos de mudança no desconto e quantidade para recalcular o total.
     */
    function handleDescontoChange(descontoInputId, precoUnitarioID, quantidadeID, totalInputId) {
        let descontoInput = document.getElementById(descontoInputId);
        let quantidadeInput = document.getElementById(quantidadeID);
        let totalInput = document.getElementById(totalInputId);
        let precoUnitario = parseFloat(document.getElementById(precoUnitarioID).value);

        // Define o total inicial ao carregar a página
        totalInput.value = (precoUnitario * parseInt(quantidadeInput.value)).toFixed(2);

        // Eventos de input para recalcular o total
        [descontoInput, quantidadeInput].forEach(input => {
            input.addEventListener('input', function() {
                let descontoValue = descontoInput.value;
                calcularTotal(precoUnitarioID, descontoValue, quantidadeID, totalInputId);
            });
        });
    }

    /**
     * Mostra o spinner de carregamento.
     */
    function showLoadingSpinner() {
        document.getElementById('loadingSpinner').style.display = 'block';
        document.getElementById('myTabContent').style.filter = 'blur(17px)';
    }

    /**
     * Esconde o spinner de carregamento.
     */
    function hideLoadingSpinner() {
        document.getElementById('loadingSpinner').style.display = 'none';
        document.getElementById('myTabContent').style.filter = 'none';
    }

    /**
     * Realiza uma requisição à API.
     */
    function requestAPI(url, callback) {
        incrementPendingRequests();
        let xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onload = function() {
            if (xhr.status == 200) {
                callback(JSON.parse(xhr.responseText));
            } else {
                console.error('Erro na requisição. Status:', xhr.status);
            }
            decrementPendingRequests();
        };
        xhr.onerror = function() {
            console.error('Erro na requisição.');
            decrementPendingRequests();
        };
        xhr.send();
    }

    /**
     * Obtém o nome do cliente a partir do ID.
     */
    function obterNomeCliente(clienteId) {
        showLoadingSpinner();
        requestAPI(`/api/obter_nome_cliente/?cliente_id=${clienteId}`, function(response) {
            if (response.nome_cliente) {
                document.getElementById('clientesInput').value = response.nome_cliente;
            } else {
                console.error('Erro ao obter nome do cliente:', response.error);
            }
        });
    }

    /**
     * Obtém o nome do vendedor a partir do ID.
     */
    function obterNomeVendedor(vendedorId) {
        showLoadingSpinner();
        requestAPI(`/api/obter_nome_vendedor/?vendedor_id=${vendedorId}`, function(response) {
            if (response.nome_vendedor) {
                document.getElementById('vendedoresInput').value = response.nome_vendedor;
            } else {
                console.error('Erro ao obter nome do vendedor:', response.error);
            }
        });
    }

    /**
     * Obtém o preço do produto a partir do ID.
     */
    function obterPrecoProduto(produtoId, precoId, count) {
        showLoadingSpinner();
        requestAPI(`/api/obter_preco_produto/?produto_id=${produtoId}`, function(response) {
            if (response.preco_produto) {
                document.getElementById(precoId).value = response.preco_produto;
                handleDescontoChange(`desconto${count}Input`, `preco${count}Input`, `quantidade${count}Input`, `total${count}Input`);
            } else {
                console.error('Erro ao obter preço do produto:', response.error);
            }
        });
    }

    /**
     * Obtém o nome do produto a partir do ID.
     */
    function obterNomeProduto(produtoId, inputId) {
        requestAPI(`/api/obter_nome_produto/?produto_id=${produtoId}`, function(response) {
            if (response.nome_produto) {
                document.getElementById(inputId).value = response.nome_produto;
            } else {
                console.error('Erro ao obter nome do produto:', response.error);
            }
        });
    }

    /**
     * Adiciona um novo produto na tabela.
     */
    function adicionarProduto(produtoId) {
        if (produtosAdicionados[produtoId]) {
            // Incrementa a quantidade do produto existente
            let id = produtosAdicionados[produtoId].id;
            let quantidadeInput = document.getElementById(`quantidade${id}Input`);
            quantidadeInput.value = parseInt(quantidadeInput.value) + 1;
            calcularTotal(`preco${id}Input`, document.getElementById(`desconto${id}Input`).value, `quantidade${id}Input`, `total${id}Input`);
        } else {
            // Adiciona um novo produto
            produtosAdicionados[produtoId] = { id: contadorProdutos, quantidade: 1 };
            obterNomeProduto(produtoId, `produto${contadorProdutos}Input`);
            obterPrecoProduto(produtoId, `preco${contadorProdutos}Input`, contadorProdutos);
            contadorProdutos++;
            let novoProduto = `
                <tr class="align-items-center">
                    <td class="col-1">
                        <input type="number" class="form-control form-control-sm" id="quantidade${contadorProdutos}Input" placeholder="Qtd." value="1">
                    </td>
                    <td class="col-6">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="produto${contadorProdutos}Input" placeholder="Nome do produto">
                            <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'selecionar_produto' %}'">Selecionar</button>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="preco${contadorProdutos}Input" placeholder="Unitário" readonly>
                    </td>
                    <td>
                        <input type="number" class="form-control form-control-sm" id="desconto${contadorProdutos}Input" placeholder="Desconto">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="total${contadorProdutos}Input" placeholder="Total" readonly>
                    </td>
                </tr>`;
            document.getElementById('produtosContainer').insertAdjacentHTML('beforeend', novoProduto);
            handleDescontoChange(`desconto${contadorProdutos}Input`, `preco${contadorProdutos}Input`, `quantidade${contadorProdutos}Input`, `total${contadorProdutos}Input`);
        }
    }

    // Inicialização ao carregar a página
    document.addEventListener('DOMContentLoaded', function() {
        const clienteId = localStorage.getItem('clienteId');
        const vendedorId = localStorage.getItem('vendedorId');
        const contadorProdutoId = localStorage.getItem('contadorProdutoId') || 0;

        if (clienteId) obterNomeCliente(clienteId);
        if (vendedorId) obterNomeVendedor(vendedorId);

        // Carrega os produtos salvos no localStorage
        for (let i = 1; i <= contadorProdutoId; i++) {
            let produtoId = localStorage.getItem(`produtoId${i}`);
            if (produtoId) {
                adicionarProduto(produtoId);
            }
        }
    });

</script>


<style>
    .form-control-sm {
        font-size: 0.875rem; /* Font size smaller */
    }
    .btn-sm {
        font-size: 0.875rem; /* Font size smaller */
    }
</style>

{% endblock %}
