{% extends 'vendas/partials/base.html' %}

{% comment %}
TODO: Definir a lógica da aba cálculo
{% endcomment %}

{% block content %}

{% load static %}
<script src="{% static 'vendas/venda.js' %}"></script>
<script src="{% static 'vendas/calculos.js' %}"></script>

<div class="container mt-4">
    <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="width:50px;height:50px;display: none; position: fixed; top: 50%; left: 50%; z-index: 1000;">
        <span class="visually-hidden">Carregando...</span>
    </div>
    <!-- Modal personalizado para deletar produtos de maneira variavel -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Todos os <span id="nomeProdutoModal"></span> vão ser removidos, tem certeza?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-danger" id="confirmRemoveBtn">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Abas -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="aba-inicial-tab" data-bs-toggle="tab" data-bs-target="#aba-inicial" type="button" role="tab" aria-controls="aba-inicial" aria-selected="true">Vender</button>
        </li>
        <li class="nav-item" role="presentation">
            <button onclick="calcular()" class="nav-link" id="aba-calculos-tab" data-bs-toggle="tab" data-bs-target="#aba-calculos" type="button" role="tab" aria-controls="aba-calculos" aria-selected="false">Cálculos</button>
        </li>
    </ul>
    
    <!-- Conteúdo das Abas -->
    <div class="tab-content shadow p-3 mb-5 bg-body rounded" id="myTabContent">
        <!-- Aba Inicial -->
        <div class="tab-pane fade show active" id="aba-inicial" role="tabpanel" aria-labelledby="aba-inicial-tab">
            <div class="container my-4 p-3">
                <!-- Campo e botão para Vendedores -->
                <div class="row mb-3 align-items-center">
                    <label for="vendedoresInput" class="col-auto col-form-label">Vendedor</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" id="vendedoresInput" placeholder="Digite o nome do vendedor">
                            <button class="btn btn-secondary" onclick="location.href='{% url 'selecionar_vendedor' %}'">Selecionar</button>
                        </div>
                    </div>
                </div>      
                

                <!-- Campo e botão para Clientes -->
                <div class="row mb-3 align-items-center">
                    <label style = "margin-left:20px;"for="clientesInput" class="col-auto col-form-label">Cliente</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" id="clientesInput" placeholder="Digite o nome do cliente">
                            <button class="btn btn-secondary" onclick="location.href='{% url 'selecionar_cliente' %}'">Selecionar</button>
                        </div>
                    </div>
                </div>

                <!-- Container para Produtos -->
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        Produtos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Unitário</th>
                                        <th scope="col">Desconto</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody id="produtosContainer">
                                    <!-- Produtos serão adicionados dinamicamente aqui -->
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'selecionar_produto' %}'">Adicionar novo produto</button>
                    </div>
                </div>
 
            </div>
        </div>

<!-- Aba de Cálculos -->
<div class="tab-pane fade" id="aba-calculos" role="tabpanel" aria-labelledby="aba-calculos-tab">
    <!-- Conteúdo da aba de cálculos -->        
    <div id="MSGmodificaçãoDesconto"class="alert alert-success" style="display:none;">
        O desconto foi alterado com sucesso
    </div>
    <div class="container my-4 p-3 border border-info rounded">
        <div class="row mb-3">
            <div class="col-sm-6 ">
                <label for="parcelasSelect" class="col-sm-4 col-form-label">Parcelas</label>
                <select class="form-select" id="parcelasSelect">
                    <option value="0">A vista</option>
                    <option value="1">1x</option>
                    <option value="2">2x</option>
                    <option value="3">3x</option>
                    <option value="4">4x</option>
                    <option value="5">5x</option>
                    <option value="6">6x</option>
                </select>
            </div>
 
            <div class="col-sm-6">
                <label for="comissaoInput" class="col-sm-2 col-form-label">Comissão</label>
                <input type="text" class="form-control" id="comissaoInput" readonly>
            </div>
        </div>
        <div class="container my-2 p-2 border rounded" style="font-size: smaller; width: 50%;">
            <div class="row mb-3 text-center">
                <label for="totalVendaInput" class="col-sm-12 col-form-label">Total da Venda</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="totalVendaInput" readonly>
                </div>
            </div>
            <div class="row mb-3 text-center">
                <label for="descontoInput" class="col-sm-12 col-form-label">Desconto %</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="descontoInput">
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-4">
        <button class="btn btn-primary btn-lg mx-2">Finalizar Venda</button>
        <button class="btn btn-danger btn-lg mx-2">Limpar Venda</button>
    </div>
</div>



{% endblock %}
