{% extends 'vendas/partials/base.html' %}

{% comment %}
TODO: Arrumar a lógica javascript do botão selecionar
TODO: Definir a lógica da aba cálculo
TODO: Adicionar colunas informativas quando for selecionado o produto
{% endcomment %}

{% block content %}

<div class="container mt-4">
    <!-- Abas -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="aba-inicial-tab" data-bs-toggle="tab" data-bs-target="#aba-inicial" type="button" role="tab" aria-controls="aba-inicial" aria-selected="true">Vender</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="aba-calculos-tab" data-bs-toggle="tab" data-bs-target="#aba-calculos" type="button" role="tab" aria-controls="aba-calculos" aria-selected="false">Cálculos</button>
        </li>
    </ul>

    <!-- Conteúdo das Abas -->
    <div class="tab-content shadow p-3 mb-5 bg-body rounded" id="myTabContent">
        <!-- Aba Inicial -->
        <div class="tab-pane fade show active" id="aba-inicial" role="tabpanel" aria-labelledby="aba-inicial-tab">
            <div class="container my-4 p-3">
                <!-- Campo e botão para Vendedores -->
                <div class="row mb-3 align-items-center">
                    <label for="vendedoresInput" class="col-auto col-form-label">Vendedor</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" id="vendedoresInput" placeholder="Digite o nome do vendedor">
                            <button class="btn btn-secondary" onclick="location.href='{% url 'selecionar_vendedor' %}'">Selecionar</button>
                        </div>
                    </div>
                </div>

                <!-- Campo e botão para Clientes -->
                <div class="row mb-3 align-items-center">
                    <label style="margin-left:19px;" for="clientesInput" class="col-auto col-form-label">Cliente</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" id="clientesInput" placeholder="Digite o nome do cliente">
                            <button class="btn btn-secondary" onclick="location.href='{% url 'selecionar_cliente' %}'">Selecionar</button>
                        </div>
                    </div>
                </div>

                <!-- Container para Produtos -->
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        Produtos
                    </div>
                    <div class="card-body" id="produtosContainer">
                        <!-- Produtos serão adicionados dinamicamente aqui -->
                        <div class="row mb-3 align-items-center">
                            <div class="col-2">
                                <input type="number" class="form-control form-control-sm" id="quantidade1Input" placeholder="Quantidade" >
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-sm" id="produto1Input" placeholder="Nome do produto">
                            </div>
                            <div class="col-1">
                                <input type="text" class="form-control form-control-sm" id="preco1Input" placeholder="Valor" readonly>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'selecionar_produto' %}'">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>

        <!-- Aba de Cálculos -->
        <div class="tab-pane fade" id="aba-calculos" role="tabpanel" aria-labelledby="aba-calculos-tab">
            <!-- Conteúdo da aba de cálculos -->
            <div class="container my-4 p-3 border border-info">
                <h3>Cálculos</h3>
                <!-- Aqui você pode adicionar conteúdo relacionado aos cálculos -->
            </div>
        </div>
    </div>
</div>

<script>
    let contadorProdutos = 1;

    function adicionarProduto() {
        contadorProdutos++;
        let novoProduto = `
        <div class="row mb-3 align-items-center">
            <div class="col-2">
                <input type="number" class="form-control form-control-sm" id="quantidade${contadorProdutos}Input" placeholder="Quantidade" readonly>
            </div>
            <div class="col">
                <input type="text" class="form-control form-control-sm" id="produto${contadorProdutos}Input" placeholder="Nome do produto">
            </div>
            <div class="col-1">
                <input type="text" class="form-control form-control-sm" id="preco${contadorProdutos}Input" placeholder="Valor" readonly>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'selecionar_produto' %}'">Selecionar</button>
            </div>
        </div>`;

        document.getElementById('produtosContainer').insertAdjacentHTML('beforeend', novoProduto);
    }

    document.addEventListener('DOMContentLoaded', function() {
        var clienteId = localStorage.getItem('clienteId');
        var vendedorId = localStorage.getItem('vendedorId');
        var contadorProdutoId = localStorage.getItem('contadorProdutoId') || 0;

        function obterNomeCliente(clienteId) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/obter_nome_cliente/?cliente_id=' + clienteId, true);
            xhr.onload = function() {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.nome_cliente) {
                        document.getElementById('clientesInput').value = response.nome_cliente;
                    } else {
                        console.error('Erro ao obter nome do cliente:', response.error);
                    }
                } else {
                    console.error('Erro na requisição. Status:', xhr.status);
                }
            };
            xhr.onerror = function() {
                console.error('Erro na requisição.');
            };
            xhr.send();
        }

        function obterNomeVendedor(vendedorId) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/obter_nome_vendedor/?vendedor_id=' + vendedorId, true);
            xhr.onload = function() {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.nome_vendedor) {
                        document.getElementById('vendedoresInput').value = response.nome_vendedor;
                    } else {
                        console.error('Erro ao obter nome do vendedor:', response.error);
                    }
                } else {
                    console.error('Erro na requisição. Status:', xhr.status);
                }
            };
            xhr.onerror = function() {
                console.error('Erro na requisição.');
            };
            xhr.send();
        }
 
        function obterPrecoProduto(produtoId,inputId,precoId){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/obter_preco_produto/?produto_id=' + produtoId, true);
            xhr.onload = function() {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.preco_produto) {
                        document.getElementById(precoId).value = response.preco_produto;  // Assumindo que a resposta tem um campo 'preco_produto'
                    } else {
                        console.error('Erro ao obter preco do produto:', response.error);
                    }
                } else {
                    console.error('Erro na requisição. Status:', xhr.status);
                }
            };
            xhr.onerror = function() {
                console.error('Erro na requisição.');
            };
            xhr.send();
            
        }

        function obterNomeProduto(produtoId, inputId, precoId) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/obter_nome_produto/?produto_id=' + produtoId, true);
            xhr.onload = function() {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.nome_produto) {
                        document.getElementById(inputId).value = response.nome_produto;
                    } else {
                        console.error('Erro ao obter nome do produto:', response.error);
                    }
                } else {
                    console.error('Erro na requisição. Status:', xhr.status);
                }
            };
            xhr.onerror = function() {
                console.error('Erro na requisição.');
            };
            xhr.send();
        }

        if (clienteId) {
            obterNomeCliente(clienteId);
        }

        if (vendedorId) {
            obterNomeVendedor(vendedorId);
        }

        for (let i = 1; i <= contadorProdutoId; i++) {
            let produtoId = localStorage.getItem(`produtoId${i}`);
            if (produtoId) {
                obterNomeProduto(produtoId, `produto${i}Input`, `preco${i}Input`);
                obterPrecoProduto(produtoId, `produto${i}Input`, `preco${i}Input`);
                if (i >= 1) {
                    adicionarProduto();
                }
            }
        }
    });
</script>

<style>
    .form-control-sm {
        font-size: 0.875rem; /* Font size smaller */
    }
    .btn-sm {
        font-size: 0.875rem; /* Font size smaller */
    }
</style>

{% endblock %}
